@model ViewmMODeElMASTER
<!-- أو أي اسم للموديل الخاص بالمنتجات -->
<div id="productList">
    @foreach (var item in Model.ListViewProduct)
    {
        <div class="product-box product-wrap" data-category-id="@item.IdCategory">
            <div class="img-wrapper">
                <div class="ribbon"><span>new</span></div>
                <div class="front">
                    <a href="product-page(no-sidebar).html">
                        <img alt="Product Image" src="@Url.Content("~/Images/Home/" + item.Photo)" class="img-fluid blur-up lazyload bg-img" />
                    </a>
                </div>
                <div class="cart-info cart-wrap">
                    <a href="#" title="Add to Wishlist">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </a>
                    <button onclick="openCart()" title="Add to cart">
                        <i class="ti-shopping-cart"></i> Add to cart
                    </button>
                    <a href="compare.html" title="Compare">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
                        <i class="ti-search"></i>
                    </a>
                </div>
            </div>
            <div class="product-info">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <a href="product-page(no-sidebar).html">
                    <h6>@item.ProductNameEn</h6>
                </a>
                <h4>$@item.price</h4>
            </div>
        </div>
    }
</div>
